html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-family: 'Shizuru', cursive;
  background-color: white;
  background-image: url('../assets/pineapples-and-penguins-artwork-aog7ih5stbvaw2eu.png');
  background-size: contain;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}



.board {
  display: flex;
  border: 1px solid;
  height: 590px;
  width: 670px;
  background-color: rgb(97, 181, 92);
  border: 5px solid rgb(255, 255, 255);
  flex-wrap: wrap;
  margin: auto;
}

  .circle{
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  border: solid 5px rgb(97, 181, 92);
}

#reset-button {
  width: 150px;
  font-size: 40px;
  /* background-color: red; */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  font-size: 100px;
}

#message {
  font-size: 30px;
}




/* @media only screen and (min-width: 768px) {
  body {
    
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px auto 30px;
    grid-template-areas: 
      "board circle"
      
  }
}

.board {
  grid-area: board;
  display: flex;

}

.circle{
  grid-area: circle;
} */







