html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  
  text-align: center;
  font-family: 'Shizuru', cursive;
  background-color: white;
  background-image: url('../assets/pineapples-and-penguins-artwork-aog7ih5stbvaw2eu.png');
  background-size: contain;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background-image: url('../assets/darkmode-pic.jpg');
    background-size: contain;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
  }
} */



.board {
  display: flex;
  border: 1px solid;
  height: 590px;
  width: 670px;
  background-color: rgb(97, 181, 92);
  border: 5px solid rgb(255, 255, 255);
  flex-wrap: wrap;
  margin: auto;
}

  .circle{
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  border: solid 5px rgb(97, 181, 92);
}

#reset-button, #light-dark-button {
  width: 150px;
  font-size: 40px;
  /* background-color: red; */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  font-size: 100px;
  color: rgb(6, 72, 14);
}

#message {
  font-size: 40px;
  color: rgb(8, 116, 34);
}











