html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.board {
  display: flex;
  border: 1px solid;
  height: 590px;
  width: 670px;
  background-color: rgb(161, 130, 130);
  border: 5px solid rgb(0, 0, 0);
  flex-wrap: wrap;
  margin: auto;
}

  .circle{
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  border: solid 5px rgb(161,130, 130);
}

cyanColor{
  background-color: cyan;
}

pinkColor{
  background-color: pink;
}










/* body{
  display: flex;
  background-color: lightcoral;
  flex-direction: column;
  margin: 0;
  height: 90vh;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  
  
}

.board{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* justify-content: center; */
  /* grid-gap: 0vmin; */
  /* margin: auto;
  background-color: orange;
  width: 500px; 
  padding: 0;
  gap: 10px; */
/* }

div{
  border: 3px solid white;
  display: flex;
  /* background-color: rgb(70, 51, 134); */
  /* padding: 25px;
  border-radius: 50%;
}

h1, h2{
  text-align: center;
/* } */ 
